In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

from ipywidgets import interact

In [2]:
matches = pd.read_csv('matches.csv')

print("Shape of Matches Dataset :", matches.shape)

Shape of Matches Dataset : (756, 18)

In [3]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [17]:
##2. The column which has the most missing values according to the data is:
a = (matches['city'].isnull()).sum()
b = (matches['venue'].isnull()).sum()
c = (matches['umpire3'].isnull()).sum()

d = {a : "CITY", b : "VENUE", c : "UMPIRE3"}
print("column which has the most missing values : ", d.get(max(a,b,c)))

column which has the most missing values :  UMPIRE3

In [19]:
## 3. City which hosted most number of seasons according to the data is:

In [20]:
cities = set(matches['city'].unique())
print(cities)

{'Kimberley', 'Raipur', 'Dharamsala', 'Rajkot', 'Cuttack', 'Port Elizabeth', 'East London', 'Bengaluru', 'Sharjah', 'Cape Town', 'Mumbai', 'Pune', nan, 'Visakhapatnam', 'Durban', 'Nagpur', 'Bloemfontein', 'Centurion', 'Ahmedabad', 'Kolkata', 'Johannesburg', 'Chennai', 'Indore', 'Mohali', 'Chandigarh', 'Jaipur', 'Kanpur', 'Hyderabad', 'Ranchi', 'Kochi', 'Delhi', 'Abu Dhabi', 'Bangalore'}

In [21]:
# As we can that we have Bengaluru and Bangalore Both in the Data we have change Bangalore as Benagluru

matches['city'] = matches['city'].replace(('Bangalore'), ('Bengaluru'))

# lets check the city names again
cities = set(matches['city'].unique())
print(cities)

{'Kimberley', 'Raipur', 'Dharamsala', 'Rajkot', 'Cuttack', 'Port Elizabeth', 'East London', 'Bengaluru', 'Sharjah', 'Cape Town', 'Mumbai', 'Pune', nan, 'Visakhapatnam', 'Durban', 'Nagpur', 'Bloemfontein', 'Centurion', 'Ahmedabad', 'Kolkata', 'Johannesburg', 'Chennai', 'Indore', 'Mohali', 'Chandigarh', 'Jaipur', 'Kanpur', 'Hyderabad', 'Ranchi', 'Kochi', 'Delhi', 'Abu Dhabi'}

In [33]:
most_hosted_city = matches['city'].value_counts()
most_hosted_city

city
Mumbai            101
Bengaluru          80
Kolkata            77
Delhi              74
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Visakhapatnam      13
Ahmedabad          12
Centurion          12
Mohali             10
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Cape Town           7
Abu Dhabi           7
Ranchi              7
Port Elizabeth      7
Cuttack             7
Raipur              6
Sharjah             6
Kochi               5
Kanpur              4
Kimberley           3
East London         3
Nagpur              3
Bloemfontein        2
Name: count, dtype: int64

In [35]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bengaluru,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [34]:
## Q.4 Which year has the most number of matches played?

In [38]:
No_of_matches_played_each_Season = matches['season'].value_counts()
No_of_matches_played_each_Season

season
2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: count, dtype: int64

In [52]:
## Q. 5. Maximum wins by Mumbai Indians in 2011 are
mumbai_wins_2011 = matches[(matches['winner'] == 'Mumbai Indians') & (matches['season'] == 2011)]
max_wins = mumbai_wins_2011['winner'].value_counts().max()

print("Maximum wins by Mumbai Indians in 2011:", max_wins)

Maximum wins by Mumbai Indians in 2011: 10

In [59]:
## Q 7.  What is the percentage of getting bat and field in feature 'toss_descision'?

In [58]:
total_matches = matches.shape[0]

bat_dec = matches[matches['toss_decision'] == 'bat'].shape[0]

ball_dec = matches[matches['toss_decision'] == 'field'].shape[0]

percentage_bat = (bat_dec / total_matches) * 100
percentage_field = (ball_dec / total_matches) * 100

print(f"Percentage of choosing to bat: {percentage_bat}")
print(f"Percentage of choosing to field: {percentage_field}")

Percentage of choosing to bat: 38.75661375661375
Percentage of choosing to field: 61.24338624338625

8.  Which statement holds true
*
1 point
A) Teams winning tosses and electing field first have won more number of matches.
B) Teams winning tosses and electing bat first have won more number of matches.
C) Both A and B
D) None of the above

In [61]:


# Calculate the number of matches where teams winning tosses and electing to field won
field_wins = matches[(matches['toss_decision'] == 'field') & (matches['winner'] == matches['toss_winner'])].shape[0]

# Calculate the number of matches where teams winning tosses and electing to bat won
bat_wins = matches[(matches['toss_decision'] == 'bat') & (matches['winner'] == matches['toss_winner'])].shape[0]

# Print the number of wins for each scenario
print(f"Number of wins when choosing to field: {field_wins}")
print(f"Number of wins when choosing to bat: {bat_wins}")

Number of wins when choosing to field: 259
Number of wins when choosing to bat: 134

9. In which years where taking batting second have won more number of matches?
*
1 point
A) 2009, 2017
B) 2013, 2015
C) 2010, 2015
D) 2015, 2019

In [62]:
batting_second_wins = matches[matches['win_by_wickets'] > 0]

# Count the number of wins for each year
wins_by_year = batting_second_wins['season'].value_counts()

print("Years where taking batting second has won more matches:")
print(wins_by_year)

Years where taking batting second has won more matches:
season
2012    40
2011    39
2016    39
2013    37
2014    37
2019    35
2008    34
2017    32
2018    32
2009    29
2010    28
2015    24
Name: count, dtype: int64

In [ ]:
matches = pd.read_csv('matches.csv')

print("Shape of Matches Dataset :", matches.shape)